---
http_interactions:
- request:
    method: get
    uri: https://api.ethplorer.io/getTokenInfo/0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0?apiKey=freekey
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":"0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0","name":"EOS","decimals":18,"symbol":"EOS","totalSupply":"1000000000000000000000000000","owner":"0xd0a6e6c54dbc68db5db3a091b171a77407ff7ccf","transfersCount":2892540,"lastUpdated":1527128998,"totalIn":2.5964967036019e+27,"totalOut":2.5964967036019e+27,"issuancesCount":0,"holdersCount":381631,"description":"https://eos.io/","price":{"rate":"11.2277","diff":-8.03,"diff7d":-15.47,"ts":"1527132252","marketCapUsd":"9827110360.0","availableSupply":"875255872.0","volume24h":"1617190000.0","diff30d":-16.49411694706,"currency":"USD"},"countOps":2892540}'
  recorded_at: Thu, 24 May 2018 03:34:14 GMT
recorded_with: VCR 4.0.0
